<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MaterializednetcoreWebApp</title>
    <!--Google font ocom-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet"/>
    <!--Materialize styleshhet-->
    <link rel="stylesheet" href="~/lib/materialize/dist/css/materialize.min.css" />

    <!--CSS styleshhet-->

    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <nav class="nav-wrapper">
        <a asp-action="Index" asp-controller="Home" class="brand-logo center">Logo</a>


        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
        </ul>
        <ul>
            <li>
                <a href="#" data-activates="slide-out" class="button-collapse">
                    <i class="material-icons">menu</i>
                </a>
            </li>
        </ul>
    </nav>

    <ul id="slide-out" class="side-nav">
        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
    </ul>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - MaterializednetcoreWebApp</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/materialize/dist/js/materialize.min.js"></script> 
    <script src="~/js/site.js"></script>



    @RenderSection("Scripts", required: false)
</body>
</html>
